.progress {
  position: absolute;
  top: 60px;
  left: 190px;
  width: 100%;
}

.progress progress {
  -webkit-appearance: none;
  height: 12px;
}

.progress progress::-webkit-progress-value {
  background-color: rgb(255, 0, 0);
}

.progress .queue {
  margin-top: 5px;
}

.progress .queue img {
  margin-right: 5px;
}
