
body {
  margin: 0;
  overflow: hidden;
}

.debug {
  color: #fff;
  background-color: #000;
  position: fixed;
  top: 62px;
  right: 0;
  padding: 2px;
}

.debug a {
  text-decoration: none;
  font-size: 25px;
}

/*****
 Top Bar
*/
.top-bar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

  .top-bar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

.top-bar {
  height: 32px;
  width: 1280px;
  margin: auto;
}

.view-resources {
  color: #fff;
  font-weight: bold;
  padding-top: 10px;
  float:left;
}

.view-resources .resource {
  float: left;
  margin-left: 27px;
  width: 49px;
  text-align: right;
}

.top-bar-menu {
  float: right;
  margin: 5px;
}

.top-bar-menu img {
  float: left;
}

.main-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
}

.main-menu-options {
  margin: 30px 50px 30px 30px;
}

.main-menu-options button {
  margin-bottom: 10px;
  width: 100%;
}

/*****
 Map
*/
.map {
  position:relative;
  height: 600px;
}

.map canvas {
  position: absolute;
}

#auxCanvas {
  display: none;
}

/*****
 Dashboard
*/
.dashboard-wrapper {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.dashboard-wrapper {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.dashboard {
  height: 218px;
  width: 1280px;
  margin: auto;
}

.dashboard-column {
  position: relative;
  width: 340px;
  box-sizing: border-box;
  float: left;
}

.dashboard-column-1 {
  width: 340px;
  padding: 43px;
}

.dashboard-column-2 {
  padding: 40px 30px;
}

.hit-points-bar {
  -webkit-appearance: none;
  width: 37px;
  height: 7px;
  margin-top: -4px;
}

.progress {
  position: absolute;
  top: 60px;
  left: 190px;
  width: 100%;
}

.progress progress {
  -webkit-appearance: none;
  height: 12px;
}

.progress progress::-webkit-progress-value {
  background-color: rgb(255, 0, 0);
}

.progress .queue {
  margin-top: 5px;
}

.progress .queue img {
  margin-right: 5px;
}

.player1 progress[value]::-webkit-progress-value {
  background-color: rgb(95, 95, 255);
}

.player2 progress[value]::-webkit-progress-value {
  background-color: rgb(255, 95, 95);
}

.controls td {
  min-width: 36px;
  min-height: 36px;
}

.selection td {
  padding-left: 10px;
}

.selection .hit-points-bar  {
  display: block;
}

.debug-entity{
  position: absolute;
  right: 0;
  bottom: 0;
}
.debug-entity-link {
  text-decoration: none;
  opacity: 0.2;
  color: black;
}
