.dashboard {
  position: fixed;
  width: 100%;
  bottom: 0;

  .inner {
    height: 218px;
    width: 1280px;
    margin: auto;
  }

  .column {
    position: relative;
    width: 340px;
    box-sizing: border-box;
    float: left;
  }

  .column-1 {
    width: 340px;
    padding: 43px;
  }

  .column-2 {
    padding: 40px 30px;
  }
}
