.map {
  position:relative;
  height: 600px;

  canvas {
    position: absolute;
  }
}

#auxCanvas {
  display: none;
}

#selectbox {
  position: fixed;
  left: -1px;
  top: -1px;
  bottom: -2px;
  right: -2px;
  border: 2px solid #fff;
  pointer-events: none;
}

#fogCanvas {
  opacity: 0.5;
}

#loading-screen {
  background-color: #a24300;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 99;
  color: #fff;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  text-align: center;
  .loading-screen-inner {
    width: 100%;
  }
}
