.map {
  position:relative;
  height: 600px;
}

.map canvas {
  position: absolute;
}

#auxCanvas {
  display: none;
}

#selectbox {
  position: fixed;
  left: 10px;
  top: 45px;
  bottom: 200px;
  right: 300px;
  border: 2px solid #fff;
  pointer-events: none;
}
